.container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 1px solid rgb(30, 41, 59);
}

.text {
  font-size: 0.75rem;
  color: rgb(71, 85, 105);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
}

.label {
  color: rgb(71, 85, 105);
}

.value {
  color: rgb(100, 116, 139);
}

.errors {
  font-size: 0.75rem;
}

.errorsLabel {
  color: rgb(71, 85, 105);
}

.errorsValue {
  color: rgb(100, 116, 139);
}
